.infoModal {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23vw;
    height: 45vh;
    padding: 2%;
    background-color: #2C2C38;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px black;
    animation: animate;
    animation-duration: 400ms;
}

.active {
    display: flex;
}

.closeInfoModal {
    cursor: pointer;
}

.setTitle {
    justify-content: space-between;
    display: flex;
    color: white;
    font-size: clamp(1.3rem, -1.5rem + 3vw, 3rem);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.setDescription {
    margin-top: 2vh;
    height: auto;
    color: gray;
}

.setStatus {
    width: 100%;
    margin-top: auto;
}

.setStatus>select {
    height: 4.5vh;
}

.setSubtasks {
    color: white;
    display: flex;
    margin-right: 2px;
    margin-top: 2vh;
    font-size: clamp(0.8rem, -1.5rem + 2vw, 2rem);
}

.setSubtasks>p {
    margin-right: 3px;
}

.status_infoModal {
    display: flex;
}

.status_infoModal>p {
    margin-right: 0.5vw;
}

.SubTaskInfo {
    width: 100%;
    height: 10vh;
}

.infoSubs {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4vh;
    background-color: #21212D;
    border-radius: 5px;
    margin-top: 1vh;
}

.infoSubs>p {
    margin-left: 1vw;
    color: white;
}

.checked {
    opacity: 0.8;
}