.infoModal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23vw;
    height: 45vh;
    padding: 2%;
    background-color: #2C2C38;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px black;
    animation: animate;
    animation-duration: 400ms;
}

.active {
    display: flex;
}

.setTitle {
    color: white;
    font-size: clamp(1rem, -1.5rem + 2.2vw, 3rem);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.setDescription {
    margin-top: 2vh;
}

.setStatus {
    width: 100%;
}

.setStatus>select {
    height: 4.5vh;
}